* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 25%;
}

body {
  background: white;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15em;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #317679;
  height: 13em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navBox {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11em;
}

#logo {
  margin: 1em;
  margin-right: 1.5em;
  margin-bottom: 0.25em;
  width: 11em;
}

#title {
  display: flex;
  color: white;
  font-size: 1.25em;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  align-items: center;
  background-color: rgb(245, 244, 238);
  display: flex;
  height: 2.5em;
  padding: 1em;
  justify-content: center;
  font-size: 0.75em;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navLink {
  margin: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  color: black;
  color: #c0c0c0;
}

/* #cartPreview {
  display: none;
  position: absolute;
  right: 2rem;
  width: 20em;
  height: 10em;
  background-color: rgb(255, 213, 193);
  border: solid black 2px;
} */

/* #cartLink:hover + #cartPreview {
  display: block;
} */

#rightSide {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

#searchLinkBox {
  display: flex;
}

#searchBox {
  display: flex;
}

#searchBar {
  padding: 0.5em;
  font-size: 1.1em;
  size: 20;
}

#gearCategories {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-size: 1.25em;
}

.gearLink {
  color: white;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allProducts {
  display: flex;
  justify-content: space-around;
}

.cartBox {
  display: flex;
  width: 80%;
  padding: 1em;
  border: solid black 0.25em;
}

#cartLeft {
  flex: 7;
}

#cartRight {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#cartTable {
  width: 100%;
  border: 1px solid black;
}

#cartTable > tbody,
th,
td {
  border: 1px solid black;
}

.checkoutButton {
  padding: 1.5em;
  background-color: rgb(255, 238, 193);
  margin: 1em;
}

#cartTotal,
#totalAmmount {
  font-weight: bold;
}

/* #cartPreviewBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 2em;
} */

.productList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  line-height: 2em;
  align-content: space-between;
}
.singleProduct {
  text-align: center;
  display: flex;
}

.media {
  margin: 2em;
}

.media-object {
  width: 300px;
}

.media-heading {
  color: #317679;
}
.qtyBox {
  display: flex;
}

.cartButtons {
  margin-left: 1em;
  margin-right: -4em;
  display: flex;
}

.upAndDown {
  display: flex;
  flex-direction: column;
}

.incrementQty {
  height: 0.75em;
}

.decrementQty {
  height: 0.75em;
}

.removeProduct {
  margin-left: 0.5em;
  background-color: red;
  color: white;
}

.form {
  display: flex;
}

.addEditBox {
  margin: 1em;
  background-color: rgb(255, 246, 223);
  display: flex;
  width: 100%;
}

.addButton {
  margin: 1em;
}

.formLine {
  margin: 1em;
}

#newProductSubmitBox {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  padding: 1em;
}

.APcontainer {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.singleProductImg {
  height: 100%;
  width: 100%;
}

.SPLeft {
  flex: 3;
}

.SPRight {
  flex: 1;
}

.addToCartButton {
  padding: 1em;
}

.checkoutBox {
  display: flex;
  width: 80%;
  padding: 1em;
  border: solid black 0.25em;
  margin-top: 1em;
}

.checkoutLeft {
  flex: 1;
  border: solid red 1px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutRight {
  flex: 1;
  border: solid blue 1px;
  margin: 1em;
}

.stripePlaceholder {
  height: 20em;
}

.submitBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitOrderButton {
  padding: 1.5em;
  background-color: rgb(193, 255, 255);
  margin: 1em;
}

.footer {
  margin-top: 20em;
  position: absolute;
  top: 100;
  height: 3em;
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.trademark {
  margin: 1em;
}

.userContainer {
  display: flex;
  width: 80%;
  padding: 1em;
  border: solid black 0.25em;
  margin-top: 1em;
}

.userInfo {
  flex: 1;
  border: solid red 1px;
  margin: 1em;
}

.pastOrders {
  flex: 2;
  border: solid blue 1px;
  margin: 1em;
}
